/*
 *reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * thumpicker styles
 */
body { padding-top: 30px; }

.thumbpicker { position: relative; width: 790px; height: 110px; background: #888; margin: 0 auto; overflow: hidden; }
.thumbpicker > ul { position: absolute; top: 0; left: 0; white-space: nowrap; }
.thumbpicker > ul > li { width: 150px; height: 110px; background: #9d9d9d; margin: 0 0 0 10px; vertical-align: top; display: inline-block; *display:inline; *zoom: 1; }
.thumbpicker > ul > li:first-child { margin-left: 0; }
.thumbpicker > ul > li > a { display: block; font-size: 30px; line-height: 110px; color: #dfdfdf; text-align: center; text-decoration: none; }
.thumbpicker > ul > li.selected,
.thumbpicker > ul > li.hover { width: 140px; height: 100px; border: 5px solid #dfdfdf; background: #ccc; }
.thumbpicker > ul > li.selected > a,
.thumbpicker > ul > li.hover > a { line-height: 100px; color: #fff; }

#display { font-size: 15px; line-height: 15px; margin: 10px; text-align: center; }
#display > ul > li { display: block; }